@import url('../bootstrap/css/bootstrap.css');
@import url('../bootstrap/css/bootstrap-table.css');
@import url('../bootstrap/css/bootstrap-editable.css');
@import url('../tableexport/css/tableexport.css');
@import url('../jquery/css/jquery-ui.css');
@import url('../fontIconPicker/css/jquery.fonticonpicker.css');
@import url('../fontIconPicker/themes/bootstrap-theme/jquery.fonticonpicker.bootstrap.css');
@import url('../layer/css/layer.css');
@import url('../ztree/css/ztree.css');
@import url('../fakeLoader/css/fakeLoader.css');
@import url('../fontawesome/css/all.css');
@import url('font-awesome.css');
table a.btn {
	font-weight: 900;
}

.static-content-tab {
	padding: 0;
}
.tab-title {
	width: 100%;
	position: fixed;
	border-bottom: 1px solid #dadfe3;
	background-color: #bab3c1;
}
.static-content-tab .tab-content {
	padding-top: 35px;
}
.table>tbody>tr>td>a {
	padding: 0 5px;
}

.table>tbody>tr>td>a:link,
.table>tbody>tr>td>a:hover {
	text-decoration: none;
}
.table {
	font-size: 0.9em;
	/*table-layout: fixed;*/
}

/*td {
	width: 100%;
	word-break: keep-all;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	-icab-text-overflow: ellipsis;
	-khtml-text-overflow: ellipsis;
	-moz-text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
}*/

.fixed-table-toolbar .btn-group .btn {
	font-weight: 900;
}
.margin0 {
	margin: 0;
}
.font-color-green {
	color: #48d09b;
}
.menu-title {
    text-transform: uppercase;
    color: #93a8a8 !important;
    font-size: 14px;
    letter-spacing: 0.1em;
}
.menu-title > .badge {
	float: right;
    margin-right: 10px;
}
.menu-title:focus {
	text-decoration: none;
}
.menu-title:hover {
	text-decoration: none;
}
.menu-title:visited {
	text-decoration: none;
}
.menu-title:active {
	text-decoration: none;
}