<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.daijie.jenny.cloud.sys.mapper.SysRoleMenuAuthorizedMapper">
	
	<select id="selectRoleMenuAuthorized" parameterType="Integer" resultType="org.daijie.jenny.common.feign.sys.response.SysMenuResponse">
		select 
			sys_menu.menu_id as menuId,
			sys_menu.menu_name as menuName,
			sys_menu.level,
			sys_menu.parent_id as parentId,
			sys_menu.sort,
			sys_menu.mapping,
			sys_menu.icon
		from 
			sys_menu
			left join sys_menu_authorized on sys_menu.menu_id = sys_menu_authorized.menu_id
			left join sys_role_authorized on sys_menu_authorized.role_id = sys_role_authorized.role_id
		where 1=1
			<if test="userId != -1">
			and sys_role_authorized.user_id = #{userId}
			</if>
		group by sys_menu.menu_id
		order by sys_menu.menu_code
	</select>
</mapper>