<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.daijie.jenny.cloud.sys.mapper.SysRoleManagerMapper">
	
	<select id="selectRolesByUser" parameterType="Integer" resultType="String">
		select
			sys_role.role_code
		from
			sys_role_authorized,
			sys_role
		where 1=1
			and sys_role_authorized.role_id = sys_role.role_id
			and sys_role_authorized.user_id = #{userId}
	</select>
	
	<select id="selectSelectedMenuAndOpreate" parameterType="Integer" resultType="org.daijie.jenny.common.feign.sys.response.SysMenuSelectedResponse">
		select 
			sys_menu.menu_id as id,
			sys_menu.parent_id as pid,
			sys_menu.menu_name as name,
			if(sys_menu_authorized.menu_authorized_id is null, 0, 1) as checked,
			sys_menu.menu_code as ordername
		from 
			sys_menu
			left join sys_menu_authorized on (sys_menu.menu_id = sys_menu_authorized.menu_id and sys_menu_authorized.role_id = #{roleId})
		union 
		select 
			sys_table_action.action_id*-1 as id,
			sys_table.menu_id as pid,
			concat(sys_table.table_name,"-",sys_table_action.action_name) as name,
			if(sys_operate_authorized.operate_authorized_id is null, 0, 1) as checked,
			'999999' as ordername
		from 
			sys_table_action
			left join sys_table on sys_table_action.table_id = sys_table.table_id
			left join sys_operate_authorized on (sys_table_action.action_id = sys_operate_authorized.operate_id and sys_operate_authorized.role_id = #{roleId})
		order by ordername,pid
	</select>
</mapper>