<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.daijie.jenny.common.mapper.sys.SysActionMapper">
  <resultMap id="BaseResultMap" type="org.daijie.jenny.common.model.sys.SysAction">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="action_id" jdbcType="INTEGER" property="actionId" />
    <result column="menu_id" jdbcType="INTEGER" property="menuId" />
    <result column="action_name" jdbcType="VARCHAR" property="actionName" />
    <result column="action_type" jdbcType="CHAR" property="actionType" />
    <result column="mutual_type" jdbcType="CHAR" property="mutualType" />
    <result column="interface_server_id" jdbcType="VARCHAR" property="interfaceServerId" />
    <result column="interface_url" jdbcType="VARCHAR" property="interfaceUrl" />
    <result column="interface_method" jdbcType="VARCHAR" property="interfaceMethod" />
    <result column="form_target" jdbcType="VARCHAR" property="formTarget" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    action_id, menu_id, action_name, action_type, mutual_type, interface_server_id, interface_url, 
    interface_method, form_target
  </sql>
</mapper>