<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.daijie.jenny.common.mapper.sys.SysIconMapper">
  <resultMap id="BaseResultMap" type="org.daijie.jenny.common.model.sys.SysIcon">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="icon_id" jdbcType="INTEGER" property="iconId" />
    <result column="icon_code" jdbcType="VARCHAR" property="iconCode" />
    <result column="icon_name" jdbcType="VARCHAR" property="iconName" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    icon_id, icon_code, icon_name
  </sql>
</mapper>