<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.daijie.jenny.common.mapper.sys.SysRoleAuthorizedMapper">
  <resultMap id="BaseResultMap" type="org.daijie.jenny.common.model.sys.SysRoleAuthorized">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="role_authorized_id" jdbcType="INTEGER" property="roleAuthorizedId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    role_authorized_id, user_id, role_id
  </sql>
	
	<select id="selectRolesByUser" parameterType="Integer" resultType="String">
		select
			sys_role.role_code
		from
			sys_role_authorized,
			sys_role
		where 1=1
			and sys_role_authorized.role_id = sys_role.role_id
	</select>
</mapper>